datapipeline/pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "spark_nb_test",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "spark_nb_test",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Notebook",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "spark_nb_test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Notebook",
						"type": "NotebookReference"
					},
					"parameters": {
						"row_count": {
							"value": {
								"value": "@activity('spark_nb_test').output.status.Output.result.exitValue",
								"type": "Expression"
							},
							"type": "string"
						},
						"a": {
							"value": {
								"value": "@activity('spark_nb_test').output.status.Output.result.exitValue",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-14T12:13:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}