datapipeline/pipeline/PL_control_file.json
{
	"name": "PL_control_file",
	"properties": {
		"activities": [
			{
				"name": "read_control_tbl_records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT schema_name, table_name FROM control_schema.control_metadata WHERE status = 'active'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_daiEdw",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "src_to_cleansed",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "read_control_tbl_records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('read_control_tbl_records').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "src_to_raw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "initiate_log_entry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_snowflakeTable",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "raw_to_stg",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "src_to_raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Dataflow_blob_to_gen2",
									"type": "DataFlowReference",
									"parameters": {
										"table_name": {
											"value": "'@{item().table_name}'",
											"type": "Expression"
										},
										"schema_name": {
											"value": "'@{item().schema_name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"schema_name": {
												"value": "@item().schema_name",
												"type": "Expression"
											},
											"table_name": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "stg_to_cleansed",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "raw_to_stg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "dq_chk_Notebook",
									"type": "NotebookReference"
								},
								"parameters": {
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"rowsCopied": {
										"value": {
											"value": "@activity('src_to_raw').output.rowsCopied",
											"type": "Expression"
										},
										"type": "string"
									},
									"dataRead": {
										"value": {
											"value": "@activity('src_to_raw').output.rowsRead",
											"type": "Expression"
										},
										"type": "string"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"trigger_type": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"trigger_id": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"trigger_name": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"trigger_start_time": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true
							}
						},
						{
							"name": "record_reconciliation",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "stg_to_cleansed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_update_count_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"raw_layer_count": {
										"value": {
											"value": "@activity('src_to_raw').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"src_rows_count": {
										"value": {
											"value": "@activity('src_to_raw').output.rowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"staging_layer_count": {
										"value": {
											"value": "@activity('stg_to_cleansed').output.status.Output.result.exitValue",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "initiate_log_entry",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_initial_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_start_time": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "failed_log_entry_src_to_raw",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "src_to_raw",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_failed_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "failed_log_entry_raw_to_stg",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "raw_to_stg",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_failed_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "failed_log_entry_stg_to_cleansed",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "stg_to_cleansed",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_failed_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "failed_log_entry_record_conciliation",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "record_reconciliation",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[sp_failed_pipeline_logs]",
								"storedProcedureParameters": {
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"schema_name": {
										"value": {
											"value": "@item().schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						},
						{
							"name": "drop_table_sp",
							"type": "SqlPoolStoredProcedure",
							"dependsOn": [
								{
									"activity": "record_reconciliation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"sqlPool": {
								"referenceName": "dai_gco_analytics_dp",
								"type": "SqlPoolReference"
							},
							"typeProperties": {
								"storedProcedureName": "[CONTROL_SCHEMA].[drop_table_sp]",
								"storedProcedureParameters": {
									"tableName": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "cleansed_to_publish",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "src_to_cleansed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "SPARK_NB_TRANSFORMATION",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "close_log_entry",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "cleansed_to_publish",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "dai_gco_analytics_dp",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[CONTROL_SCHEMA].[sp_success_pipeline_logs]",
					"storedProcedureParameters": {
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-17T12:33:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}